<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Asteroid 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,182},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>Asteroid 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,182},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Asteroid 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,2},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>Asteroid 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>Asteroid 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>Asteroid 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>Blue Laser 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{7,2},{3,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,9}}</string>
                <key>sourceSize</key>
                <string>{3,9}</string>
            </dict>
            <key>Blue Laser 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{3,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,9}}</string>
                <key>sourceSize</key>
                <string>{3,9}</string>
            </dict>
            <key>Blue SpaceShip Center Idle.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,137},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>Blue SpaceShip Center Moving 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,137},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>Blue SpaceShip Center Moving 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,137},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>Blue SpaceShip Left Idle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>Blue SpaceShip Left Moving 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,92},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>Blue SpaceShip Left Moving 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,92},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>Blue SpaceShip Right Idle.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,92},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>Blue SpaceShip Right Moving 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,92},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>Blue SpaceShip Right Moving 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,137},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>Bomb 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{6,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,15}}</string>
                <key>sourceSize</key>
                <string>{6,15}</string>
            </dict>
            <key>Bomb 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{6,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,15}}</string>
                <key>sourceSize</key>
                <string>{6,15}</string>
            </dict>
            <key>Bomb 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{6,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,15}}</string>
                <key>sourceSize</key>
                <string>{6,15}</string>
            </dict>
            <key>Bomb 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{6,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,15}}</string>
                <key>sourceSize</key>
                <string>{6,15}</string>
            </dict>
            <key>Bomb 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{6,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,15}}</string>
                <key>sourceSize</key>
                <string>{6,15}</string>
            </dict>
            <key>Bomb 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{6,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,15}}</string>
                <key>sourceSize</key>
                <string>{6,15}</string>
            </dict>
            <key>Bomb 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{6,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,15}}</string>
                <key>sourceSize</key>
                <string>{6,15}</string>
            </dict>
            <key>Explosion 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,182},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>Explosion 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,182},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>Explosion 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,182},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>Explosion 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,182},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>Green Laser 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,2},{3,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,9}}</string>
                <key>sourceSize</key>
                <string>{3,9}</string>
            </dict>
            <key>Green Laser 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,2},{3,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,9}}</string>
                <key>sourceSize</key>
                <string>{3,9}</string>
            </dict>
            <key>Green SpaceShip Center Idle.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,92},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>Green SpaceShip Center Moving 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,137},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>Green SpaceShip Center Moving 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,137},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>Green SpaceShip Left Idle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>Green SpaceShip Left Moving 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,137},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>Green SpaceShip Left Moving 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,137},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>Green SpaceShip Right Idle.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,137},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>Green SpaceShip Right Moving 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,92},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>Green SpaceShip Right Moving 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>Red Laser 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,2},{3,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,9}}</string>
                <key>sourceSize</key>
                <string>{3,9}</string>
            </dict>
            <key>Red Laser 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,2},{3,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,9}}</string>
                <key>sourceSize</key>
                <string>{3,9}</string>
            </dict>
            <key>Red SpaceShip Center Idle.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,2},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>Red SpaceShip Center Moving 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,2},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>Red SpaceShip Center Moving 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>Red SpaceShip Left Idle.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>Red SpaceShip Left Moving 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>Red SpaceShip Left Moving 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>Red SpaceShip Right Idle.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,47},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>Red SpaceShip Right Moving 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,47},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>Red SpaceShip Right Moving 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,92},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>Yellow Laser 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,2},{3,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,9}}</string>
                <key>sourceSize</key>
                <string>{3,9}</string>
            </dict>
            <key>Yellow Laser 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{17,2},{3,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,9}}</string>
                <key>sourceSize</key>
                <string>{3,9}</string>
            </dict>
            <key>Yellow SpaceShip Center Idle.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,92},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>Yellow SpaceShip Center Moving 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,47},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>Yellow SpaceShip Center Moving 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,47},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>Yellow SpaceShip Left Idle.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,47},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>Yellow SpaceShip Left Moving 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,47},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>Yellow SpaceShip Left Moving 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,47},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>Yellow SpaceShip Right Idle.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,47},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>Yellow SpaceShip Right Moving 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,47},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>Yellow SpaceShip Right Moving 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,92},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Asteroids.png</string>
            <key>size</key>
            <string>{452,239}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61b8e69d4a5c4bf46a8d59b28e300c08:96c5930561c40a64bc9b246b5e2965ba:7db33ae25cdcbe2ff0a30eb9bb2f6a81$</string>
            <key>textureFileName</key>
            <string>Asteroids.png</string>
        </dict>
    </dict>
</plist>
