**/Debug
**/Release/
**/Debug.win32/
**/Release.win32/
**/obj/
**/bin/
**/gen/
**/publish/
**/libs/
**/assets/
**/old/
**/Backup/
**/Misc/
**/Release Copy/
*.cachefile
*.suo
*.pdb
*.ncb
*.sdf
*.vcproj.*
*.vcproj.*.user
*.vcxproj.user
*.csproj.user
*.opensdf
*.zip
*.exe
*.pdf
**/Artwork/
*.csproj.user
**/Originals/
*.html
*.htm
local.properties
TODO.txt
