**/Debug
**/Release/
**/obj/
**/bin/
**/old/
**/Backup/
**/Misc/
**/Release Copy/
*.cachefile
*.suo
*.pdb
*.ncb
*.sdf
*.vcproj.*
*.vcproj.*.user
*.vcxproj.user
*.csproj.user
*.opensdf
*.zip
*.exe
*.pdf
**/Artwork/
*.csproj.user
**/Originals/
*.html
*.htm
TODO.txt
